body {
    background: rgba(102, 130, 130, 0.52) url( https://img4.goodfon.ru/wallpaper/nbig/3/91/max-kostenko-demiguise-art-limur-fentezi.jpg) fixed; 
    color: #000000; /* Цвет текста */
   }
label {
background: #55c2eb;
    background-image: linear-gradient(180deg,#55c2eb,#0072bd);
    border-radius: 40px;
    font-size: 16px;
    width: 200px;
    padding: 13px;
    display: inline-block;
    border-right: 0px solid rgba(18, 19, 18, 0.527);
    color: #fff;
    margin: 10px;
}
h2 {
	text-align: center;
}
